#wrapper {
	height: 100%;
	overflow: auto;

	background-color: black;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#inner-wrapper {
	min-height: 100%;
	position: relative;
}

#pageTime {
	text-align: center;
	font-size: 0.8em;
	opacity: 0.6;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
}

#legal {
	font-size: 0.5em;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	opacity: 0.5;
}

#topbar {
	position: fixed;
	top: 0;
	height: 45px;
	width: 100%;
	background: rgba(0, 0, 0, .8);
	z-index: 3;
	line-height: 40px;
}

#topbar h1, #topbar h2, #topbar h3, #topbar form {
	display: inline;
}

#topbar .align-right {
	padding-right: 25px;
}

#topbar .align-left {
	padding-left: 25px;
}

#logo {
	position: relative;
}

#version {
	position: absolute;
	color: #4399f0;
	font-size: 0.4em;
	height: 0;
	top: 4px;
	right: 20px;
}

#clipboard {
	position: fixed;
	left: -99em;
	top: 0;
}

#searchSpan {
	display: none;
}

.controls {
    position: absolute;
    padding: 3px;
    z-index: 1;
	width: 100%;
	box-sizing: border-box;
}

.controls i {
	font-size: 1.2em;
	padding: 0px 2px;
	vertical-align: middle;
	font-style: normal;
}

.controls button {
	font-size: 1em;
    color: #666;
    margin: 2px;
    padding: 1px;
    background: #222;
    border: 1px solid #000;
	outline: 0;
    cursor: pointer;
    background-image: linear-gradient(#222,#111);
}

#donate {
	border: none;
	height: 48px;
	box-shadow: 0px 0px 25px 5px black;
	-webkit-box-shadow: 0px 0px 25px 5px black;
	cursor: pointer;
}

.tooltip-data {
	background: rgba(40, 40, 40, .9);
	padding: 5px;
	color: #CCC;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;

	border-radius: 3px;
}

.tooltip-data table {
	border: none;
	border-collapse: collapse;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }

#chainMenu, #signatureColumnMenu {
	z-index: 5;
}

/* Loading animation container */
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
}

/* Spinning circle (inner circle) */
.loading .maskedCircle {
	width: 2em;
	height: 2em;

	-webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;

	border: 3px solid #000;
}

/* Spinning circle mask */
.loading .mask {
	width: 1em;
	height: 1em;
	overflow: hidden;
}

/* Spinner */
.loading .spinner {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 2em;
	height: 2em;
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

table.stdTable {
	width: 100%;
}

table.stdTable th {
	text-align: left;
}

div.overlay {
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;;
}


i.closeIcon {
	position: absolute;
	top: 0;
	right: 0;
	margin: -6px;
	font-size: 1.5em;
}

i.closeIcon i {
	position: absolute;
	top: 25%;
	right: 25%;
	z-index: 1;
	font-size: 0.5em;
	color: lightgray;
}

i.closeIcon:hover {
	color: darkorange;
}

#activityGraph { padding-top: 8px; }
#activityGraphControls { padding-bottom: 8px; }

#activityGraph svg > g:nth-child(3) > g > path {
	fill: rgba(10, 10, 10, 0.6);
	stroke: rgba(40, 40, 40, 0.8);
}

#activityGraph svg > g:nth-child(3) > g > g > text {
	fill: #CCC;
}

#activityGraph svg > g:nth-child(2) > g:last-child > g {
	cursor: pointer;
}

/* Autocomplete */
ul.ui-autocomplete {
	max-height: 140px;
	overflow: hidden;
}

td.leftAlign {
	text-align: left;
	padding-left: 2px;
}

td.centerAlign {
	text-align: center;
}

td.rightAlign {
	text-align: right;
	padding-right: 2px;
}

th.leftAlign {
	text-align: left;
	padding-left: 2px;
}

th.centerAlign {
	text-align: center;
}

th.rightAlign {
	text-align: right;
	padding-right: 2px;
}
