/*-----------------------------------------------------------------------------------

	Theme Name: FluidApp
	Author: Two2Twelve Themes
	Author URI: http://themes.two2twelve.com
	Version: 1.1

	Stylesheet: Base

	0.	CSS Reset
	1.	Global (body, page sructure, common classes)
	2.	Header & Navigation
	3.	App Info
	4.  Home
	5.  Team
	6.  Features
	7.  Screenshots
	8.  Updates
	9.  Press
	10. Contact
	11. Footer
	12. Typography
	13. Buttons
	14. Lists
	15. Forms

-----------------------------------------------------------------------------------*/
* { margin: 0; padding: 0; }
/*--------------------------------------------
1. Global
---------------------------------------------*/
body {
	font-size: 13px;
	font-family: "Helvetica Neue", helvetica, sans-serif;
	background: #fff;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
section #pages {
	float: right;
	width: 525px;
	background: transparent url('../../images/landing/light-page_shadow.png') repeat-y top left;
	padding: 0px 0px 0px 50px;
	position: relative;
}
	section #pages .top_shadow,
	section #pages .bottom_shadow {
		height: 100px;
		width: 40px;
		position: absolute;
		left: 0px;
	}
	section #pages .top_shadow {
		background: transparent url('../../images/landing/light-page_shadow_top.png') no-repeat top left;
		top: 0px;
	}
	section #pages .bottom_shadow {
		background: transparent url('../../images/landing/light-page_shadow_bottom.png') no-repeat top left;
		bottom: 0px;
	}
	section #pages div.page {
		display: none;
		position: absolute;
		top: 0px;
		padding-top: 40px;
	}
		section #pages .content_box {
			padding-top: 15px;
		}
		section #pages p,
		section #pages ul {
			color: #6b6b6b;
		}
		section #pages img {
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;

			-webkit-box-shadow: 3px 3px 10px 3px black;
			-moz-box-shadow: 3px 3px 10px 3px black;
			box-shadow: 3px 3px 10px 3px black;
		}
/*--------------------------------------------
2. Header & Navigation
---------------------------------------------*/
header {
	background: #f6f6f6;
	height: 58px;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 60px;
}
	/* Social Links */
	header aside ul {
		padding-top: 18px;
	}
	/* Main Navigation */
	header .select-menu { display: none; }
	header nav { position: relative; }
	header nav ul {
		list-style: none;
		float: right;
		padding: 22px 0px 0px 0px;
	}
		header nav ul li {
			float: left;
			margin-left: 30px;
			position: relative;
			padding-bottom: 22px;
		}
			header nav ul li a{
				color: #b5b5b5;
				font-size: 12px;
				-webkit-transition:color 0.2s ease-in;
		    -moz-transition:color 0.2s ease-in;
		    -o-transition:color 0.2s ease-in;
		    transition:color 0.2s ease-in;
			}
			header nav ul li a:hover { color: #777; }
			header nav ul li.current a{ color: #555; font-weight: bold; }
			header nav span.arrow {
				width: 24px;
				height: 13px;
				background: url('../../images/landing/light-nav_arrow.png') no-repeat;
				display: none;
				position: absolute;
				top: 58px;
			}
			/* Sub Nav */
			header nav ul li ul{
				list-style: none;
				position: absolute;
				z-index: 999999;
				top: 14px;
				left: -75px;
				width: 100px;
				text-align: left;
				border-top: none;
				padding: 23px 0px 5px 0px;
				display: none;
				margin: 0;
				text-align: center;
			}
				header nav ul li ul li {
					display: block;
					width: 100%;
					margin-bottom: 0px;
					padding-bottom: 0px;
					padding: 0px 15px 0px 15px;
					background: #F6F6F6;
					border-left: 1px solid #eaeaea;
					border-right: 1px solid #eaeaea;
				}
				header nav ul li ul li:last-child {
					-webkit-border-bottom-right-radius: 3px;
					-webkit-border-bottom-left-radius: 3px;
					-moz-border-radius-bottomright: 3px;
					-moz-border-radius-bottomleft: 3px;
					border-bottom-right-radius: 3px;
					border-bottom-left-radius: 3px;
					border-bottom: 1px solid #eaeaea;
				}
				header nav ul li ul li a,
				header nav ul li.current ul li a{
					display: block;
					padding: 8px 0px 8px 0px;
					font-size: 11px;
					font-weight: normal;
					color: #b5b5b5;
					font-family: "Helvetica Neue", helvetica, sans-serif;
					-webkit-border-radius: 0px;
					-moz-border-radius: 0px;
					border-radius: 0px;
				}
				header nav ul li.current ul li a{
					background: none;
					border-top: none;
					border-left: none;
					border-right: none;
					border-color: #ddd;
					box-shadow: none;
					color: #b5b5b5;
				}
					header nav ul li ul li a:hover {
						background: none;
						color: #777;
					}
			header nav ul li ul li ul {
				left: 190px;
				top: 0;
				padding-top: 0;
				display: none;
			}
	header nav select {
		float: right;
		margin: 17px 10px 0px 0px;
	  -webkit-appearance: button;
	  -webkit-border-radius: 2px;
	  -webkit-padding-end: 20px;
	  -webkit-padding-start: 2px;
	  -webkit-user-select: none;
	  background-image: url(../../images/landing/select-arrow.png),
	  -webkit-linear-gradient(#555555, #555555 40%, #444444);
	  background-position: center right;
	  background-repeat: no-repeat;
	  border: 1px solid #333333;
	  color: #999;
		font-size: 13px;
	  padding: 3px 3px 3px 5px;
		width: 115px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
/*--------------------------------------------
3. App Info
---------------------------------------------*/
section { }
	/* App Info */
	section #app_info {
		float: left;
		width: 375px;
		margin-top: 25px;
		text-align: right;
		padding-right: 50px;
	}
		section #app_info .logo {
			display: block;
			margin-bottom: 5px;
		}
		section #app_info span.tagline {
			font-family: 'Quicksand', sans-serif;
			font-size: 19px;
			letter-spacing: -0.05em;
			color: #1f1f1f;
			display: block;
			margin-bottom: 20px;
		}
		section #app_info p {
			color: #898989;
			margin-bottom: 20px;
		}
		section #app_info .buttons {
			float: right;
			overflow: hidden;
		}
			section #app_info .buttons .large_button {
				float: left;
				margin-left: 15px;
				margin-bottom: 15px;
			}
		section #app_info .price {
			clear: both;
			background: url('../../images/landing/light-arrow.png') no-repeat top center;
			padding-top: 50px;
			text-align: center;
		}
		section #app_info .price.right_align { background-position: 250px 0px; }
		section #app_info .price.left_align { background-position: 70px 0px; }
			section #app_info .price.left_align p {
				text-align: left;
			}
			section #app_info .price p {
				font-family: 'Nothing You Could Do', cursive;
				font-size: 20px;
				color: #1f1f1f;
			}
/*--------------------------------------------
4. Home
---------------------------------------------*/
div#slider {
	margin-top: -50px;
	margin-left: -30px;
	overflow: hidden;
	width: 621px;
	height: 640px;
}
	div.slide {
		position: absolute;
		height: 675px;
		top: 0px;
		left: 0px;
	}
		div.slide .background {
			position: absolute;
			z-index: 1;
			top: 60px;
			left: 40px;
		}
		div.slide .foreground {
			position: absolute;
			z-index: 2;
			left: 200px;
			top: 30px;
		}
		div.slide .foreground img,
		div.slide .foreground iframe,
		div.slide .background img,
		div.slide .background iframe { position: absolute; }
		/* iPhone 5 */
		div.slide .background.iphone-5-black,
		div.slide .background.iphone-5-white {
			width: 381px;
			height: 572px;
			top: 45px;
			background: url('../../images/landing/devices/iphone-5-black-back.png') no-repeat;
		}
		div.slide .background.iphone-5-white { background: url('../../images/landing/devices/iphone-5-white-back.png') no-repeat; }
			div.slide .background.iphone-5-black img,
			div.slide .background.iphone-5-black iframe,
			div.slide .background.iphone-5-white img,
			div.slide .background.iphone-5-white iframe { width: 202px; height: 358px; top: 75px; left: 88px; }
		div.slide .foreground.iphone-5-black,
		div.slide .foreground.iphone-5-white {
			width: 385px;
			height: 625px;
			top: 20px;
			background: url('../../images/landing/devices/iphone-5-black-front.png') no-repeat;
		}
		div.slide .foreground.iphone-5-white { background: url('../../images/landing/devices/iphone-5-white-front.png') no-repeat; }
			div.slide .foreground.iphone-5-black img,
			div.slide .foreground.iphone-5-black iframe,
			div.slide .foreground.iphone-5-white img,
			div.slide .foreground.iphone-5-white iframe { width: 221px; height: 390px; top: 82px; left: 85px;	}
		/* iPhone 4S */
		div.slide .background.iphone-black,
		div.slide .background.iphone-white {
			width: 380px;
			height: 555px;
			background: url('../../images/landing/devices/iphone-black-back.png') no-repeat;
		}
		div.slide .background.iphone-white { background: url('../../images/landing/devices/iphone-white-back.png') no-repeat; }
			div.slide .background.iphone-black img,
			div.slide .background.iphone-black iframe,
			div.slide .background.iphone-white img,
			div.slide .background.iphone-white iframe { width: 213px; height: 320px; top: 85px; left: 80px; }
		div.slide .foreground.iphone-black,
		div.slide .foreground.iphone-white {
			width: 386px;
			height: 597px;
			background: url('../../images/landing/devices/iphone-black-front.png') no-repeat;
		}
		div.slide .foreground.iphone-white { background: url('../../images/landing/devices/iphone-white-front.png') no-repeat; }
			div.slide .foreground.iphone-black img,
			div.slide .foreground.iphone-black iframe,
			div.slide .foreground.iphone-white img,
			div.slide .foreground.iphone-white iframe { width: 230px; height: 345px; top: 95px; left: 82px;	}
		/* Blackberry */
		div.slide .background.blackberry {
			width: 380px;
			height: 499px;
			background: url('../../images/landing/devices/blackberry-back.png') no-repeat;
		}
			div.slide .background.blackberry img,
			div.slide .background.blackberry iframe { width: 206px; height: 270px; top: 72px; left: 80px; }
		div.slide .foreground.blackberry {
			width: 386px;
			height: 540px;
			background: url('../../images/landing/devices/blackberry-front.png') no-repeat;
		}
			div.slide .foreground.blackberry img,
			div.slide .foreground.blackberry iframe { width: 224px; height: 292px; top: 80px; left: 78px; }
		/* Windows */
		div.slide .background.windows {
			width: 380px;
			height: 540px;
			background: url('../../images/landing/devices/windows-back.png') no-repeat;
			top: 53px;
		}
			div.slide .background.windows img,
			div.slide .background.windows iframe { width: 200px; height: 320px; top: 62px; left: 92px; }
		div.slide .foreground.windows {
			width: 385px;
			height: 580px;
			background: url('../../images/landing/devices/windows-front.png') no-repeat;
		}
			div.slide .foreground.windows img,
			div.slide .foreground.windows iframe { width: 216px; height: 350px; top: 63px; left: 86px; }
		/* Android */
		div.slide .background.android {
			width: 350px;
			height: 482px;
			background: url('../../images/landing/devices/android-back.png') no-repeat;
		}
			div.slide .background.android img,
			div.slide .background.android iframe { width: 186px; height: 290px; top: 76px; left: 87px; }
		div.slide .foreground.android {
			width: 378px;
			height: 538px;
			background: url('../../images/landing/devices/android-front.png') no-repeat;
		}
			div.slide .foreground.android img,
			div.slide .foreground.android iframe { width: 207px; height: 325px; top: 85px; left: 90px; }
		/* iPads */
		div.slide .ipad-black,
		div.slide .ipad-white {
			width: 621px;
			height: 639px;
			top: 0;
			left: 0;
			background: url('../../images/landing/devices/ipad-black.png') no-repeat;
		}
			div.slide .ipad-black img,
			div.slide .ipad-black iframe,
			div.slide .ipad-white img,
			div.slide .ipad-white iframe { width: 352px; height: 468px; top: 49px; left: 129px; }
		div.slide .ipad-white {	background: url('../../images/landing/devices/ipad-white.png') no-repeat; }
		/* Screens */
		div.slide .screenshot { width: 512px; top: 25px; }
/* Slider Navigation */
div.echo-nav {
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 621px;
	z-index: 50;
}
	div.echo-nav a{
		text-indent: -999999px;
		background: #ccc;
		height: 4px;
		width: 30px;
		margin-right: 5px;
		display: inline-block;
		-webkit-transition:background 0.2s ease-in;
    -moz-transition:background 0.2s ease-in;
    -o-transition:background 0.2s ease-in;
    transition:background 0.2s ease-in;
	}
	div.echo-nav a:hover { background: #aaa; }
	div.echo-nav a.active { background: #777; }
/*--------------------------------------------
5. Team
---------------------------------------------*/
div#team { }
div.about_us {
	overflow: hidden;
	margin-bottom: 25px;
}
div.team_members {
	clear: both;
}
	div.team_members .person {
		overflow: hidden;
		margin-bottom: 20px;
	}
		div.team_members .person img{
			float: left;
			margin-right: 15px;
		}
		div.team_members .person h3 {
			margin-bottom: 3px;
		}
		div.team_members .person span,
		div.team_members .person a {
			font-weight: bold;
			font-size: 12px;
			display: block;
		}
		div.team_members .person span {
			color: #858585;
			margin-bottom: 5px;
			font-style: italic;
		}
		div.team_members .person a {
			color: #319ebc;
			margin-bottom: 7px;
			-webkit-transition:color 0.2s ease-in;
	    -moz-transition:color 0.2s ease-in;
	    -o-transition:color 0.2s ease-in;
	    transition:color 0.2s ease-in;
		}
			div.team_members .person a:hover { color: #444; }
/*--------------------------------------------
6. Features
---------------------------------------------*/
div.feature_list div {
	overflow: hidden;
	margin-bottom: 40px;
}
/*--------------------------------------------
7. Screenshots
---------------------------------------------*/
div.screenshot_grid {
	margin-top: 15px;
}
	div.screenshot_grid .one_third { margin-bottom: 20px; }
	div.screenshot_grid div a,
	a.fancybox {
		display: block;
		position: relative;
		width: 145px;
		height: 100px;
		margin-bottom: 8px;
		overflow: hidden;
		border: solid 5px #fff;
		border: solid 5px rgba(255, 255, 255, .70);
    box-shadow: rgba(0,0,0, 0.3) 0px 0px 5px;
    -moz-box-shadow: rgba(0,0,0, 0.3) 0px 0px 5px;
    -webkit-box-shadow: rgba(0,0,0, 0.3) 0px 0px 5px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	div.screenshot_grid div img,
	a.fancybox img {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		width: 145px;
	}
	div.screenshot_grid .hover{
		background: transparent url('../../images/landing/zoom.png') no-repeat center center;
		background: rgba(0,0,0,0.6) url('../../images/landing/zoom.png') no-repeat center center;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		display: none;
		cursor: pointer;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
/*--------------------------------------------
8. Updates
---------------------------------------------*/
div.releases {
	padding-top: 15px;
}
	article.release {
		overflow: hidden;
		margin-bottom: 25px;
		padding-bottom: 15px;
		border-bottom: 1px solid #e1e1e1;
		width: 525px;
	}
	article.release:last-child { border: none; padding-bottom: 0; }
			article.release h2{
				float: left;
			}
			article.release span.date{
				font-size: 12px;
				color: #999;
				float: right;
				margin-top: 2px;
			}
			article.release ul{
				list-style: none;
				padding-top: 10px;
				font-size: 12px;
				clear: both;
			}
				article.release ul li{
					margin-bottom: 15px;
					color: #525252;
				}
					article.release ul li span{
						display: block;
						float: left;
						font-size: 10px;
						font-weight: bold;
						margin-right: 10px;
					}
						article.release ul li span b {
							-moz-border-radius: 3px;
							-webkit-border-radius: 3px;
							border-radius: 3px;
							font-size: 10px;
							font-weight: bold;
							padding: 2px 6px 1px;
							position: relative;
							top: 1px;
							text-transform: uppercase;
							color: #fff;
							display: block;
							min-width: 35px;
							text-align: center;
						}
						article.release ul li.new span b      { background: #1fa3e0; }
						article.release ul li.fix span b 	    { background: #6bbd43; }
						article.release ul li.improved span b { background: #53b9d7; }
/*--------------------------------------------
9. Press
---------------------------------------------*/
div.press_mentions { padding-top: 15px; }
	div.press_mentions ul {
		list-style: none;
	}
		div.press_mentions ul li {
			margin-bottom: 30px;
			overflow: hidden;
		}
			div.press_mentions ul li .logo {
				float: left;
				position: relative;
				border: 1px solid #eaeaea;
				width: 75px;
				height: 65px;
			}
				div.press_mentions ul .logo img {
					position: absolute;
					top: 2px;
					left: 4px;
				}
			div.press_mentions ul li .details {
				margin-left: 95px;

			}
			div.press_mentions ul li p {
				font-style: italic;
				color: #5d5d5d;
				font-size: 15px;
				margin-bottom: 8px;
				line-height: 22px;
			}
			div.press_mentions ul li address,
			div.press_mentions ul li address a {
				font-size: 12px;
				font-weight: bold;
				color: #333;
				font-style: normal;
			}
				div.press_mentions ul li address a:before {
					content: "|";
					padding: 0px 10px 0px 5px;
					font-style: normal;
					color: #b2b2b2;
				}
				div.press_mentions ul li address a {
					color: #319ebc;
					-webkit-transition:color 0.2s ease-in;
			    -moz-transition:color 0.2s ease-in;
			    -o-transition:color 0.2s ease-in;
			    transition:color 0.2s ease-in;
					font-style: italic;
				}
					div.press_mentions ul li address a:hover { color: #333;	}
/*--------------------------------------------
10. Contact
---------------------------------------------*/
div form {
	overflow: hidden;
}
	div form div.row {
		//margin-bottom: 25px;
		overflow: hidden;
		clear: both;
	}
	div form p.left,
	div form p.right {
		width: 240px;
	}
	div form p.left  { float: left; }
	div form p.right { float: right;}
	div form textarea {
		clear: both;
		margin-top: 20px;
		width: 507px;
		height: 150px;
	}
	div form input[type="submit"] {
		float: right;
		margin-top: 15px;
	}
div form .error {
	border-color: #E01C46;
}
div form .validation,
div form .success {
	display: none;
	font-size: 12px;
	margin-bottom: 20px;
}
	div form .validation p  { color: #e01c46; }
	div form .success p	    { color: #65cf82; }
/*--------------------------------------------
11. Footer
---------------------------------------------*/
footer {
	clear: both;
	padding-top: 40px;
	text-align: center;
	cursor: default;
	padding-bottom: 30px;
}
	footer p {
		color: #c1c1c1;
		font-size: 11px;
		padding: 4px 8px 4px 8px;
		background: #f7f7f7;
		background: rgba(0,0,0,0.04);
		display: inline;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-transition:color 0.2s ease-in, background 0.2s ease-in;
    -moz-transition:color 0.2s ease-in, background 0.2s ease-in;
    -o-transition:color 0.2s ease-in, background 0.2s ease-in;
    transition:color 0.2s ease-in, background 0.2s ease-in;
	}
	footer p:hover {
		background: #f1f1f1;
		background: rgba(0,0,0,0.05);
		color: #999;
	}
/*--------------------------------------------
12. Typography
---------------------------------------------*/
h1,h2,h3,h4,h5,h6 { margin-bottom: 15px; }
h1 {
	font-family: 'Quicksand', sans-serif;
	color: #aaa;
	font-size: 28px;
	font-weight: normal;
	letter-spacing: -0.05em;
}
h2 {
	font-size: 16px;
	color: #353535;
}
	h2.icon {
		background: url('../../images/landing/features_icons.png') no-repeat top left;
		height: 32px;
		padding: 10px 0px 0px 60px;
		font-size: 17px;
	}
	h2.icon.settings 			{ background-position: 0px -42px; }
	h2.icon.professional { background-position: 0px -84px; }
	h2.icon.help 			{ background-position: 0px -126px; }
	h2.icon.pencil 		{ background-position: 0px -168px; }
	h2.icon.graph 		{ background-position: 0px -210px; }
h3 {
	font-size: 14px;
	color: #353535;
}
h4 {
	font-size: 13px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 11px;
	text-transform: uppercase;
	color: #999;
}
p {
	font-size: 12px;
	line-height: 20px;
}
a {
	text-decoration: none;
	outline: none;
	color: #319ebc;
}
.tipsy { line-height: 17px; }
/* Blockquotes */
blockquote, blockquote p {
	font-size: 15px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 10px;
	padding: 3px 20px 3px 19px;
	border-left: 1px solid #ddd;
}
	blockquote cite {
		display: block;
		font-size: 11px;
		color: #888;
	}
		blockquote cite:before {
			content: "\2014 \0020";
		}
		blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
/* Columns */
div.column_last { margin-right: 0 !important; }
div.full { margin-bottom: 25px; }
div.one_half, div.one_third, div.two_third,
div.three_fourth, div.one_fourth, div.two_thirds {
	float: left;
	margin-right: 4%;
	margin-bottom: 25px;
}
div.one_half    { width: 48%; }
div.one_third   { width: 30.66%; }
div.two_thirds  { width: 65%; }
div.one_fourth  { width: 22%; }
/*--------------------------------------------
13. Buttons
---------------------------------------------*/
.large_button {
	padding: 10px 15px 10px 15px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	width: 140px;
	text-align: left;
	text-shadow: 1px 1px  rgba(0,0,0,0.85);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-right: 2px;
}
	.large_button span.icon-corp {
		width: 30px;
		height: 35px;
		display: block;
		background: url('../../images/landing/corp.png') no-repeat top left;
		float: left;
		margin-right: 12px;
	}
	.large_button span.icon-player {
		width: 30px;
		height: 35px;
		display: block;
		background: url('../../images/landing/player.png') no-repeat top left;
		float: left;
		margin-right: 12px;
	}
	.large_button span.icon-tripwire {
		width: 30px;
		height: 35px;
		display: block;
		//background: url('../../images/landing/player.png') no-repeat top left;
		float: left;
		margin-right: 12px;
	}
	.large_button span.icon {
		width: 30px;
		height: 35px;
		display: block;
		background: url('../../images/landing/button_icons.png') no-repeat top left;
		float: left;
		margin-right: 12px;
	}
	.large_button em {
		font-size: 10px;
		font-weight: bold;
		display: block;
		color: #fff;
		text-shadow: 0px 1px rgba(255,255,255,0.65);
		font-style: normal;
	}
	.large_button:active {
		-webkit-box-shadow: inset 0px 0px 7px #333;
		-moz-box-shadow: inset 0px 0px 7px #333;
		box-shadow: inset 0px 0px 7px #333;
	}
	.large_button.corp {
		background: #2cbbfd; /* Old browsers */
		background: -moz-linear-gradient(top,  #2cbbfd 0%, #006b9d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2cbbfd), color-stop(100%,#006b9d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #2cbbfd 0%,#006b9d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #2cbbfd 0%,#006b9d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #2cbbfd 0%,#006b9d 100%); /* IE10+ */
		background: linear-gradient(top,  #2cbbfd 0%,#006b9d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cbbfd', endColorstr='#006b9d',GradientType=0 ); /* IE6-9 */
	}
		.large_button.corp em { color: #065478; }
		.large_button.corp:hover {
			background: #4cc6ff; /* Old browsers */
			background: -moz-linear-gradient(top,  #4cc6ff 0%, #0078b0 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4cc6ff), color-stop(100%,#0078b0)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #4cc6ff 0%,#0078b0 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #4cc6ff 0%,#0078b0 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #4cc6ff 0%,#0078b0 100%); /* IE10+ */
			background: linear-gradient(top,  #4cc6ff 0%,#0078b0 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cc6ff', endColorstr='#0078b0',GradientType=0 ); /* IE6-9 */
		}
	.large_button.proceed {
		background: #98d463; /* Old browsers */
		background: -moz-linear-gradient(top,  #98d463 0%, #66891d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98d463), color-stop(100%,#66891d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #98d463 0%,#66891d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #98d463 0%,#66891d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #98d463 0%,#66891d 100%); /* IE10+ */
		background: linear-gradient(top,  #98d463 0%,#66891d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98d463', endColorstr='#66891d',GradientType=0 ); /* IE6-9 */
	}
		.large_button.proceed em { color: #436c01; }
		.large_button.proceed span.icon { background-position: 0px -35px; }
		.large_button.proceed:hover {
			background: #9dda67; /* Old browsers */
			background: -moz-linear-gradient(top,  #9dda67 0%, #70971f 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dda67), color-stop(100%,#70971f)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #9dda67 0%,#70971f 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #9dda67 0%,#70971f 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #9dda67 0%,#70971f 100%); /* IE10+ */
			background: linear-gradient(top,  #9dda67 0%,#70971f 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dda67', endColorstr='#70971f',GradientType=0 ); /* IE6-9 */
		}
	.large_button.logout {
		background: #f7a553; /* Old browsers */
		background: -moz-linear-gradient(top,  #f7a553 0%, #c67524 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7a553), color-stop(100%,#c67524)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f7a553 0%,#c67524 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f7a553 0%,#c67524 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f7a553 0%,#c67524 100%); /* IE10+ */
		background: linear-gradient(top,  #f7a553 0%,#c67524 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a553', endColorstr='#c67524',GradientType=0 ); /* IE6-9 */
	}
		.large_button.logout em { color: #9c5918; }
		.large_button.logout span.icon { background-position: 0px -70px; }
		.large_button.logout:hover {
			background: #fca14b; /* Old browsers */
			background: -moz-linear-gradient(top,  #fca14b 0%, #c5650b 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fca14b), color-stop(100%,#c5650b)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #fca14b 0%,#c5650b 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #fca14b 0%,#c5650b 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #fca14b 0%,#c5650b 100%); /* IE10+ */
			background: linear-gradient(top,  #fca14b 0%,#c5650b 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca14b', endColorstr='#c5650b',GradientType=0 ); /* IE6-9 */
		}
	.large_button.blackberry {
		background: #525252; /* Old browsers */
		background: -moz-linear-gradient(top,  #525252 0%, #18171e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525252), color-stop(100%,#18171e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #525252 0%,#18171e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #525252 0%,#18171e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #525252 0%,#18171e 100%); /* IE10+ */
		background: linear-gradient(top,  #525252 0%,#18171e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#18171e',GradientType=0 ); /* IE6-9 */
	}
		.large_button.blackberry em { color: #9a9a9a; text-shadow: 0px 1px #000; }
		.large_button.blackberry span.icon { background-position: 0px -105px; }
		.large_button.blackberry:hover {
			background: #616161; /* Old browsers */
			background: -moz-linear-gradient(top,  #616161 0%, #222222 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#616161), color-stop(100%,#222222)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #616161 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #616161 0%,#222222 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #616161 0%,#222222 100%); /* IE10+ */
			background: linear-gradient(top,  #616161 0%,#222222 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
		}
.button {
  border: 1px solid #DEDEDE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555555;
  display: inline-block;
  font: bold 10px/12px 'Helvetica Neue',Helvetica,sans-serif;
  padding: 6px 11px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button:active {
	-webkit-box-shadow: inset 0px 0px 3px #333;
	-moz-box-shadow: inset 0px 0px 3px #333;
	box-shadow: inset 0px 0px 3px #333;
}
.button:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 3px #bbb;
	-moz-box-shadow: 0px 0px 3px #bbb;
	box-shadow: 0px 0px 3px #bbb;
}
.button.white {
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
	border-color: #dedede #d8d8d8 #d3d3d3;
	color: #555;
	text-shadow: 0 1px 0 #fff;
}
.button.white a { color: #555 }
.button.gray {
  background: #cacaca; /* Old browsers */
	background: -moz-linear-gradient(top,  #cacaca 0%, #aeaeae 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cacaca), color-stop(100%,#aeaeae)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cacaca 0%,#aeaeae 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cacaca 0%,#aeaeae 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cacaca 0%,#aeaeae 100%); /* IE10+ */
	background: linear-gradient(top,  #cacaca 0%,#aeaeae 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#aeaeae',GradientType=0 ); /* IE6-9 */
  border-color: #b5b5b5 #a1a1a1 #8f8f8f;
  color: #555;
  text-shadow: 0 1px 0 #d4d4d4;
}
.button.gray a { color: #555 }
.button.pink {
  background: #f78297; /* Old browsers */
	background: -moz-linear-gradient(top,  #f78297 0%, #f56778 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f78297), color-stop(100%,#f56778)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f78297 0%,#f56778 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f78297 0%,#f56778 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f78297 0%,#f56778 100%); /* IE10+ */
	background: linear-gradient(top,  #f78297 0%,#f56778 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f78297', endColorstr='#f56778',GradientType=0 ); /* IE6-9 */
  border-color: #df6f8b #da5f75 #d55061;
  color: #913944;
  text-shadow: 0 1px 0 #f89ca9;
}
.button.pink a { color: #913944 }
.button.orange {
  background: #f9bc70; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9bc70 0%, #d8b541 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9bc70), color-stop(100%,#d8b541)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9bc70 0%,#d8b541 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9bc70 0%,#d8b541 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9bc70 0%,#d8b541 100%); /* IE10+ */
	background: linear-gradient(top,  #f9bc70 0%,#d8b541 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bc70', endColorstr='#d8b541',GradientType=0 ); /* IE6-9 */
  border-color: #f5b74e #e5a73e #d6982f;
  color: #996633;
  text-shadow: 0 1px 0 #fedd9b;
}
.button.orange a { color: #996633 }
.button.green {
  background: #cae285; /* Old browsers */
	background: -moz-linear-gradient(top,  #cae285 0%, #9fcb57 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cae285), color-stop(100%,#9fcb57)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cae285 0%,#9fcb57 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cae285 0%,#9fcb57 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cae285 0%,#9fcb57 100%); /* IE10+ */
	background: linear-gradient(top,  #cae285 0%,#9fcb57 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cae285', endColorstr='#9fcb57',GradientType=0 ); /* IE6-9 */
  border-color: #adc671 #98b65b #87aa4a;
  color: #5d7731;
  text-shadow: 0 1px 0 #cfe5a4;
}
.button.green a { color: #5d7731 }
.button.blue {
	background: #a3bced; /* Old browsers */
	background: -moz-linear-gradient(top,  #a3bced 0%, #ba8ecc 100%, #667cdd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3bced), color-stop(100%,#ba8ecc), color-stop(100%,#667cdd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a3bced 0%,#ba8ecc 100%,#667cdd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a3bced 0%,#ba8ecc 100%,#667cdd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a3bced 0%,#ba8ecc 100%,#667cdd 100%); /* IE10+ */
	background: linear-gradient(top,  #a3bced 0%,#ba8ecc 100%,#667cdd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3bced', endColorstr='#667cdd',GradientType=0 ); /* IE6-9 */
	border-color: #8dc5da #76b7cf #63abc7;
	text-shadow: 0 1px 0 #b6e6f9;
}
.button.blue a { color: #42788e }
.button.purple {
	background: #d1badb; /* Old browsers */
	background: -moz-linear-gradient(top,  #d1badb 0%, #ba8ecc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1badb), color-stop(100%,#ba8ecc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d1badb 0%,#ba8ecc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d1badb 0%,#ba8ecc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d1badb 0%,#ba8ecc 100%); /* IE10+ */
	background: linear-gradient(top,  #d1badb 0%,#ba8ecc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1badb', endColorstr='#ba8ecc',GradientType=0 ); /* IE6-9 */
	border-color: #bc9db9 #ad89aa #a1799d;
	color: #7b5777;
	text-shadow: 0 1px 0 #eacae6;
}
.button.purple a { color: #7b5777 }
.button.black {
	background: #616161; /* Old browsers */
	background: -moz-linear-gradient(top,  #616161 0%, #222222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#616161), color-stop(100%,#222222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #616161 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #616161 0%,#222222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #616161 0%,#222222 100%); /* IE10+ */
	background: linear-gradient(top,  #616161 0%,#222222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
	border-color: #4c4c4c #313131 #1f1f1f;
	color: #fff;
	text-shadow: 0 1px 0 #2e2e2e;
}
.button.black a { color: #fff }
/*--------------------------------------------
15. Lists
---------------------------------------------*/
ul.social {
	list-style: none;
	float: left;
}
	ul.social li {
		float: left;
		margin-right: 5px;
	}
		ul.social li a {
			width: 24px;
			height: 24px;
			display: block;
			text-indent: -99999px;
			background: url('../../images/landing/light-social.png') no-repeat top left;
		}
		ul.social li.facebook a 				{ background-position: 0px 0px; }
			ul.social li.facebook a:hover { background-position: -24px 0px; }
		ul.social li.twitter a 					{ background-position: 0px -24px; }
			ul.social li.twitter a:hover 	{ background-position: -24px -24px; }
		ul.social li.dribbble a 				{ background-position: 0px -48px; }
			ul.social li.dribbble a:hover { background-position: -24px -48px; }
		ul.social li.google a 					{ background-position: 0px -72px; }
			ul.social li.google a:hover 	{ background-position: -24px -72px; }
		ul.social li.flickr a 					{ background-position: 0px -96px; }
			ul.social li.flickr a:hover 	{ background-position: -24px -96px; }
		ul.social li.rss a 							{ background-position: 0px -120px; }
			ul.social li.rss a:hover 			{ background-position: -24px -120px; }
		ul.social li.email a 						{ background-position: 0px -144px; }
			ul.social li.email a:hover 		{ background-position: -24px -144px; }
div.toggle_list {
	margin-bottom: 25px;
}
	div.toggle_list ul {
		list-style: none;
	}
		div.toggle_list ul li {
			margin-bottom: 10px;
		}
			div.toggle_list ul li div.title {
				background: #f0f0f0;
				border: 1px solid #e6e7e7;
				padding: 10px;
				cursor: pointer;
				position: relative;
			}
				div.toggle_list ul li div.title h3 { margin: 0; color: #4b4b4b; font-size: 13px; }
				div.toggle_list ul li .title h3 span { font-family: "Quicksand"; color: #1c9eda; padding-right: 8px; }
				div.toggle_list ul li div.title a.toggle_link {
					position: absolute;
					top: 5px;
					right: 13px;
					color: #868686;
					font-weight: bold;
					font-size: 19px;
				}
			div.toggle_list ul li div.content {
				background: #fbfbfb;
				border: 1px solid #e5e5e5;
				border-top: none;
				padding: 10px;
				display: none;
			}
				div.toggle_list ul li div.content p { margin-bottom: 15px; font-size: 12px; }
				div.toggle_list ul li div.content p:last-child { margin-bottom: 0; }
div.tabs {
  margin-bottom: 20px;
}
	div.tabs ul.nav {
	   list-style: none outside none;
	   overflow: hidden;
	   position: relative;
	   z-index: 2;
	}
		div.tabs ul.nav li {
		   float: left;
		   margin-right: 2px;
		}
			div.tabs ul.nav li a {
			   background: #F0F0F0;
			   border: 1px solid #E6E7E7;
			   border-top-left-radius: 3px;
			   border-top-right-radius: 3px;
			   color: #8F8F8F;
			   display: block;
			   font-size: 12px;
			   font-weight: bold;
			   padding: 8px 25px;
			   text-decoration: none;
			}
			div.tabs ul.nav li.current a {
			   background: #FBFBFB;
			   border-color: #E6E7E7;
			   border-style: solid solid none;
			   border-width: 1px 1px medium;
			   color: #424242;
			   padding-bottom: 9px;
			}
		div.tabs .pane {
			background: #FBFBFB;
		  border: 1px solid #E6E7E7;
		  margin-top: -1px;
		  padding: 15px;
		  position: relative;
		  z-index: 1;
			display: none;
		}
/*--------------------------------------------
16. Forms
---------------------------------------------*/
input,textarea {
	font-family: "Helvetica Neue", helvetica, sans-serif;
	font-size: 13px;
	outline: none;
	-webkit-appearance: none;
	-webkit-focus-ring-color: none
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
	border: none;
	border-bottom: 1px solid #bcbcbc;
	padding: 8px 0px 8px 0px;
	width: 100%;
	color: #555;
	background: transparent;
}
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus { padding-bottom: 8px; }
textarea {
	padding: 8px;
	border: 1px solid #cfd0d0;
	color: #555;
	resize: vertical;
	background: transparent;
}
form p { position: relative; }
label.infield {
	position: absolute;
	z-index: -1;
	top: 7px !important;
	left: 0;
	color: #333333;
	font-weight: bold;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
label.textarea {
	top: 28px !important;
	left: 12px !important;
}
:-moz-placeholder {
	color: #333333 !important;
	font-weight: bold;
}
:-webkit-input-placeholder {
	color: #333333 !important;
}
img { border: none; }
.clear { clear: both; }

#pages .error {
	color: #FF4747;
}

.hidden {
	display: none;
}

.disabled {
	opacity: 0.4;
}

input.selector {
	display: none;
}

input.selector+label img {
	border-radius: 3px;
	width: 64px;
	height: 64px;
}

input.selector+label .selector_label {
	position: absolute;
	bottom: 1px;
	left: 1px;
	padding: 1px 3px;
	margin-right: 1px;
	color: #CCC;
	font-size: 0.8em;
	background: rgba(0,0,0,0.7);
	border-radius: 3px;
}

input.selector+label {
	display: inline-block;
	position: relative;
	height: 64px;
	padding: 3px;
	margin: 3px 3px;
	border: 2px solid #888;
	border-radius: 5px;
	cursor: pointer;
	opacity: .7;
	transition: all 0.2s ease;
}

input.selector+label:hover {
	border-color: #555;
	opacity: 1;
}

input.selector:checked+label {
	border-color: #50D25A;
	opacity: 1;
}

/* Loading animation container */
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
}

/* Spinning circle (inner circle) */
.loading .maskedCircle {
	width: 2em;
	height: 2em;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;

	border: 3px solid #FFF;
}

/* Spinning circle mask */
.loading .mask {
	width: 1em;
	height: 1em;
	overflow: hidden;
}

/* Spinner */
.loading .spinner {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 2em;
	height: 2em;
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(360deg); }
}

@-o-keyframes spin {
from { -o-transform: rotate(0deg); }
to { -o-transform: rotate(360deg); }
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

input[type='checkbox'] {
	-webkit-appearance: checkbox;
	vertical-align: middle;
	cursor: pointer;
}

input[type="checkbox"] + label {
	cursor: pointer;
}

#donate {
	border: none;
	height: 48px;
	box-shadow: 0px 0px 25px 5px black;
	-webkit-box-shadow: 0px 0px 25px 5px black;
	cursor: pointer;
}

.tweet {
	background: rgba(255,255,255,0.06);
	border-radius: 4px;
	padding: 4px 8px;
	margin: 8px 0;
}
